<head>
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    </style>
</head>

<h2>{{board}} > {{topic}}</h2>

{% if msg_list %}
<table>
    {% for msg in msg_list %}
        <tr>
            <td style="width:300px"><h3>{{msg.user}}</h3><br>Date posted: {{msg.dateCreated}}<br>Likes: {{msg.likes}}</td>
            <td>{{msg.text}}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<h3>No messages found.</h3>
{% endif%}

{% if user.is_authenticated %}
<form action="{% url 'msgboard:add_msg' board.id topic.id %}" method="POST">
    {% csrf_token %}
    <hr>
    <h3>Add your reply here.</h3>
    <textarea name="reply" cols="40" rows="11"></textarea>
    <hr>
    <input type="submit" value="Submit" />
</form>
{% endif %}