<head>
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    </style>
</head>

<h2>{{board}}</h2>

{% if topic_list %}
    <table>
        {% for topic in topic_list %}
            {% if topic.isLocked %}                 <!--                              -->
            <tr style="background-color:#dddddd"> <!--    Grey out locked topics    -->
            {% else %}                              <!--                              -->
            <tr>                                    <!--                              -->
            {% endif %}
                <td><a href="{% url 'msgboard:messages' board.id topic.id %}">{{ topic.name }}</a></td> 
                <td>{{topic.username}}</td>
                <td>{{topic.dateCreated}}</td>
                <td>{% if topic.isLocked %}LOCKED{% else %}OPEN{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>No topics found.</h3>
{% endif%}

{% if user.is_authenticated %}
    <form action="{% url 'msgboard:add_topic' board.id %}" method="POST">
        {% csrf_token %}
        <hr>
        <h3>Not what you're looking for? Create a new topic below.</h3>
        <table>
            <tr>
                <td><label>Title:</label></td>
                <td><textarea style="resize: none;" name="topic_title" cols="40" rows="1"></textarea></td>
            </tr>
            <tr>
                <td><label>Initial post:</label></td>
                <td><textarea name="initial_msg" cols="40" rows="11"></textarea></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Submit" />
    </form>
{% endif %}